name: terraform

on:
  pull_request:
    branches: 
      - main
    paths:
      - '**.tf'
  push:
    branches:
      - main
    paths:
      - '**.tf'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3

      - name: Terraform Lint
        id: fmt
        run: terraform fmt -recursive -check
